<div class="row page-tilte align-items-center">
  
  <div class="col-md-auto">
    <a href="#" class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
    <h1 class="weight-300 h3 title">Driver List</h1>
    <p class="text-muted m-0 desc"></p>
  </div>

  <!--div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
    <div class="controls d-flex justify-content-center justify-content-md-end">
      <button type="button" routerLink="new" routerLinkActive="active" style="cursor:pointer;" class="btn btn-primary" style="float:right" translate><span class="material-icons mr-2 align-top">add</span>add_driver</button>
    </div>
  </div-->

</div>

<div class="content">
  <table datatable  [dtTrigger]="dtTrigger" id="example"  class="table table-striped mb-4 bg-white table-bordered">
    <thead>
      <tr>
        <th >Id</th>
        <th >Name</th>
        <th >Mobile</th>
        <th >Vehicle</th>
        <th>Operator</th>
        <th >Location</th>
        <th >Documents</th>
        <th >Status</th>
        <th  >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let driver of drivers">
        <td>{{driver.driver_id}}</td>
        <td> <img src="{{'http://35.197.237.60:4001/'+driver.driver_image}}" height="40" width="40"/> {{driver.driver_name}}</td>
        <td>{{"+"+driver.dial_code+" "+driver.mobile_number}}</td>
        <td>{{driver.vehicle_name+" - " + driver.vehicle_number}}</td>
        <td>{{driver.operator_name}}</td>
        <td>{{driver.location_name}}</td>
        <td>{{ getDocStatus(driver.is_profile_completed)}}</td>
        <td>
            <span [hidden]="!driver.is_active" class="badge badge-pill badge-success" style="padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;color:#FFFFFF;font-size: 12px;" translate>driver_enabled</span>
            <span [hidden]="driver.is_active" class="badge badge-pill badge-danger" style="padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;color:#FFFFFF;font-size: 12px;" translate>driver_disabled</span>
        </td>
        <td>
          <button :routerLink="{{driver.driver_id}}" type="button" class="btn mb-2 flat btn-sm btn-outline-success"  >View Details</button>
          <ng-template #driver_disable_modal>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Driver</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             Do you want to disable this Driver<br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn mb-2 flat btn-sm btn-outline-warning" (click)="modalRef.hide()">Cancel</button>
              <button [hidden]="!driver.is_active" type="button" class="btn mb-2 flat btn-sm btn-outline-danger" (click)="disableDriver(driver.driver_id,driver.driver_name); modalRef.hide()">Confirm</button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  

  <div class="loader-wrapper incomponent" id="demoCardLoader" [style.display]="isLoading? 'block':'none'">
    <div class="spinner">
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="length" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
    </div>
  </div>
  
</div>
          

