<div class="row page-tilte align-items-center">
  
  <div class="col-md-auto">
    <a href="#" class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
    <h1 [hidden]="!isAdmin" class="weight-300 h3 title" >Operator List</h1>
    <p class="text-muted m-0 desc"></p>
  </div>

  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
    <div class="controls d-flex justify-content-center justify-content-md-end">
      <button [hidden]="!isAdmin" type="button" routerLink="new" routerLinkActive="active" style="cursor:pointer;" class="btn btn-primary" style="float:right" ><span class="material-icons mr-2 align-top">add</span>Add New Operator</button>

    </div>
  </div>

</div>
<div class="content">
  <table datatable [dtOptions]="dtOptions"  [dtTrigger]="dtTrigger" id="example"  class="table table-striped mb-4 bg-white table-bordered">
    <thead>
      <tr>
        <th >ID</th>
        <th >Operator Name</th>
        <th >Location Name</th>
        <th >Driver Work Time</th>
        <th >Driver Rest Time</th>
        <th >ActiveVehicle Types</th>
        <th data-orderable="false" >Status</th>
        <th data-orderable="false" >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations">
        <td>{{location.ID}}</td>
        <td>{{location.Name}}</td>
        <td>{{location.LocationName}}</td>
        <td>{{location.DriverWorkTime}} hours</td>
        <td>{{location.DriverRestTime}} hours</td>
        <td class="th_width">{{location.TotalFareCount}}</td>
        <td>
          <span [hidden]="!location.IsActive" class="badge badge-pill badge-success" style="padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;color:#FFFFFF;font-size: 12px;" translate>location_enabled</span>
          <span [hidden]="location.IsActive" class="badge badge-pill badge-danger" style="padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;color:#FFFFFF;font-size: 12px;" translate>location_disabled</span>
        </td>
        <td>
          <button [hidden]="!location.IsActive" type="button" class="btn btn-purple btn-sm" style="margin-right:10px;"
                      (click)="navigateToZoneList(location.ID,location.Name)" translate>location_manage_zone</button>
          
          <button [hidden]="!location.IsActive" type="button" class="btn btn-primary btn-sm" style="margin-right:10px;" (click) = "navigateToFareList(location.ID,location.Name,location.Currency)" translate>location_vehicle_fare</button>
          <button [hidden]="!location.IsActive" type="button" class="btn btn-warning btn-sm" style="margin-right:10px;" (click) = "navigateToEdit(location.ID,location.Name,location.Currency)" >Edit</button>
          <!--button [hidden]="!location.IsActive" type="button" class="btn btn-warning btn-sm" style="margin-right:10px;"
            (click)="navigateToEdit(location.ID,location.Name)">Edit
          </button-->
          <button [hidden]="location.IsActive" type="button" class="btn btn-outline-success btn-sm" (click)="enableLocation(location.ID,location.Name)" translate>vehicle_type_enable</button>
          <button [hidden]="!location.IsActive" type="button" class="btn btn-outline-danger btn-sm" (click)="openModal(location_disable_modal)" translate>vehicle_type_disable</button> 
          <ng-template #location_disable_modal>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Location</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             Do you want to disable this location <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn mb-2 flat btn-sm btn-outline-warning" (click)="modalRef.hide()">Cancel</button>
              <button [hidden]="!location.IsActive" type="button" class="btn mb-2 flat btn-sm btn-outline-danger" (click)="disableLocation(location.ID,location.Name); modalRef.hide()">Confirm</button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="loader-wrapper incomponent" id="demoCardLoader" [style.display]="isLoading? 'block':'none'">
    <div class="spinner">
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="length" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
    </div>
  </div>
  
</div>
          

