
      <section class="wrapper">


        <div class="login">
            <div class="image-placeholder">
              <h1>Lorem ipsum dolor sit amet<br>consectetur pellentesque adipiscing elit.</h1>
            </div>
            <div class="form">

                <div class="text-center mb-4"><span class="material-icons text-danger" style="font-size:6rem;" >wifi_tethering</span></div>

                <h3 class="h4 mb-5 text-center">Admin Login</h3>



                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email or Username</label>
                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                
                  <button (click)="onLogin()" class="btn mt-4 btn-primary btn-block">Login</button>
                </form>

            </div>
        </div>
                  

    </section>
