<div class="row page-tilte align-items-center">
  
  <div class="col-md-auto">
    <a href="#" class="mt-3 d-md-none float-right toggle-controls"><span class="material-icons">keyboard_arrow_down</span></a>
    <h1 class="weight-300 h3 title">{{company_name}} -    <h1 class="weight-300 h3 title" translate>vehicle_list</h1></h1>
    <p class="text-muted m-0 desc"></p>
  </div>

  <div class="col controls-wrapper mt-3 mt-md-0 d-none d-md-block ">
    <div class="controls d-flex justify-content-center justify-content-md-end">
      <button type="button" routerLink="new" routerLinkActive="active" style="cursor:pointer;" class="btn btn-primary" style="float:right" translate><span class="material-icons mr-2 align-top">add</span>add_vehicle</button>
    </div>
  </div>

</div>
<div class="content">
  <table datatable  [dtTrigger]="dtTrigger" id="example"  class="table table-striped mb-4 bg-white table-bordered">
    <thead>
      <tr>
        <th translate>vehicle_id</th>
        <th translate>vehicle_name</th>
        <th data-orderable="false" translate>vehicle_image</th>
        <th translate>vehicle_type</th>
        <th translate>vehicle_location</th>
        <th data-orderable="false" translate>vehicle_number</th>
        <th data-orderable="false" translate>vehicle_status</th>
        <th data-orderable="false" translate>vehicle_actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{vehicle.vehicle_id}}</td>
        <td>{{vehicle.vehicle_name}}</td>
        <td><img src="{{'http://35.197.237.60:4001/'+vehicle.image}}" height="40" width="40"/></td>
        <td>{{vehicle.vehicle_type_name}}</td>
        <td>{{vehicle.location_name}}</td>
        <td>{{vehicle.vehicle_number}}</td>
        <td>
          <span [hidden]="!vehicle.is_active" class="badge badge-pill badge-success" style="padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;color:#FFFFFF;font-size: 12px;" translate>vehicle_enabled</span>
          <span [hidden]="vehicle.is_active" class="badge badge-pill badge-danger" style="padding-top:4px;padding-bottom:4px;padding-left:8px;padding-right:8px;color:#FFFFFF;font-size: 12px;" translate>vehicle_disabled</span>
        </td>
        <td>
          <button [hidden]="vehicle.is_active" type="button" class="btn mb-2 flat btn-sm btn-outline-success" (click)="enableVehicles(vehicle.vehicle_id,vehicle.vehicle_name)" translate>vehicle_enable</button>
          <button [hidden]="!vehicle.is_active" type="button" class="btn mb-2 flat btn-sm btn-outline-danger" (click)="openModal(Vehicle_disable_modal)" translate>vehicle_disable</button>
         
          <ng-template #Vehicle_disable_modal>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Vehicle</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             Do you want to disable this Vehicle <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn mb-2 flat btn-sm btn-outline-warning" (click)="modalRef.hide()">Cancel</button>
              <button [hidden]="!vehicle.is_active" type="button" class="btn mb-2 flat btn-sm btn-outline-danger" (click)="disableVehicles(vehicle.vehicle_id,vehicle.vehicle_name); modalRef.hide()">Confirm</button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  

  <div class="loader-wrapper incomponent" id="demoCardLoader" [style.display]="isLoading? 'block':'none'">
    <div class="spinner">
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="length" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
      <svg viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="28"></circle>
      </svg>
    </div>
  </div>
  
</div>